html {
    background-color: #0c9;
}

.hidden {
    display: none;
}


#quiz {
    background-color: hsl(0, 0%, 96%);
    border-radius: 4px;
}

.selectable {
    margin-right: 15px;
}

.tile.is-child {

    margin: 1%!important;
}

#sectionHeader {
    text-align: center;
}

#benefits {
    padding: 2%;
}

/*sticky footer*/
.section {
    min-height: calc(95vh - 80px);
}

.footer {
    height: 30px;
}

.btn-prev {
	float: left;
}

.btn-next {
	float: right;
}



