html {
    background-color: #0c9;
}

.hidden {
    display: none;
}

#quiz {
    background-color: hsl(0, 0%, 96%);
}


/*sticky footer*/
.section {
    min-height: calc(95vh - 80px);
}

.footer {
    height: 30px;
}

